# **Installing and Importing necessary files**

In [ ]:
pip install textblob

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: textblob in /usr/local/lib/python3.8/dist-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.8/dist-packages (from textblob) (3.7)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->textblob) (2022.6.2)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->textblob) (7.1.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->textblob) (1.2.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->textblob) (4.64.1)

In [ ]:
from textblob import TextBlob
import pandas as pd

# **Importing the dataset for translation**

In [ ]:
df=pd.read_csv("/content/English.csv")
len(df)

175621

In [ ]:
df.drop_duplicates(inplace=True)

**Taking Sample from dataset for translation**

In [ ]:
df=df.sample(n=200)

In [ ]:
df.reset_index(drop=True,inplace=True)

In [ ]:
df

                               English words/sentences
0    High fructose corn syrup is found in about eve...
1            Surprisingly, he swims even on cold days.
2                         What if Tom doesn't like me?
3                 He doesn't have a job. He's retired.
4                           This is impossible for me.
..                                                 ...
195               I need thread to sew on this button.
196                He set fire to the school building.
197               Tom may never be able to walk again.
198                             I'm reading this book.
199  The Tigers lost the game, which was a surprise...

[200 rows x 1 columns]

In [ ]:
lang=['es','fr','de']
col=['Spanish','French','German']

# **Creating function for Language Translation**

In [ ]:
def trans(word,lang,i,x):
  blob=TextBlob(word)
  translated=blob.translate(from_lang='en',to=lang)
  df[x][i]=translated

In [ ]:
for i,x in zip(lang,col):
  df[x]=0*len(df)
  for j in range(len(df)):
    trans(df.iloc[j,0],i,j,x)

<ipython-input-88-e04dadab4411>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[x][i]=translated
/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

# **Translated Words or sentences in Spanish,French and German**

In [ ]:
df

,English words/sentences,Spanish,French,German
0,High fructose corn syrup is found in about eve...,"(E, l, , j, a, r, a, b, e, , d, e, , m, a, ...","(L, e, , s, i, r, o, p, , d, e, , m, a, Ã¯, ...","(I, n, , a, l, l, e, m, ,, , w, a, s, , S, ..."
1,"Surprisingly, he swims even on cold days.","(S, o, r, p, r, e, n, d, e, n, t, e, m, e, n, ...","(Ã‰, t, o, n, n, a, m, m, e, n, t, ,, , i, l, ...","(Ãœ, b, e, r, r, a, s, c, h, e, n, d, e, r, w, ..."
2,What if Tom doesn't like me?,"(Â¿, Y, , s, i, , a, , T, o, m, , n, o, , ...","(E, t, , s, i, , T, o, m, , n, e, , m, ', ...","(W, a, s, , i, s, t, ,, , w, e, n, n, , T, ..."
3,He doesn't have a job. He's retired.,"(N, o, , t, i, e, n, e, , t, r, a, b, a, j, ...","(I, l, , n, ', a, , p, a, s, , d, ', e, m, ...","(E, r, , h, a, t, , k, e, i, n, e, n, , J, ..."
4,This is impossible for me.,"(E, s, t, o, , e, s, , i, m, p, o, s, i, b, ...","(C, ', e, s, t, , i, m, p, o, s, s, i, b, l, ...","(D, a, s, , i, s, t, , m, i, r, , u, n, m, ..."
...,...,...,...,...
195,I need thread to sew on this button.,"(N, e, c, e, s, i, t, o, , h, i, l, o, , p, ...","(J, ', a, i, , b, e, s, o, i, n, , d, e, , ...","(I, c, h, , b, r, a, u, c, h, e, , F, a, d, ..."
196,He set fire to the school building.,"(P, u, s, o, , f, u, e, g, o, , a, l, , e, ...","(I, l, , a, , m, i, s, , l, e, , f, e, u, ...","(E, r, , l, e, g, t, e, , d, a, s, , S, c, ..."
197,Tom may never be able to walk again.,"(E, s, , p, o, s, i, b, l, e, , q, u, e, , ...","(T, o, m, , n, e, , p, o, u, r, r, a, , p, ...","(T, o, m, , k, a, n, n, , v, i, e, l, l, e, ..."
198,I'm reading this book.,"(E, s, t, o, y, , l, e, y, e, n, d, o, , e, ...","(J, e, , l, i, s, , c, e, , l, i, v, r, e, .)","(I, c, h, , l, e, s, e, , d, i, e, s, e, s, ..."
199,"The Tigers lost the game, which was a surprise...","(L, o, s, , T, i, g, r, e, s, , p, e, r, d, ...","(L, e, s, , T, i, g, e, r, s, , o, n, t, , ...","(D, i, e, , T, i, g, e, r, , v, e, r, l, o, ..."

# **saving the final output to csv file**

In [ ]:
df.to_csv("Translated.csv")